 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {

    header > img {

        
        padding: 4px;
        width: 98%;
        height: 150px;
    }

    ul {

        margin-top: 4px;
        padding-top: 10px;
        padding-bottom: 10px;
    
    }

    li {

        display: block;
        padding: 10px;
        margin-left: 5px; 
        margin-right: 45px;
        margin-bottom: 4px;
    }

    article {

        margin-top: 5px;
        padding-bottom: 2%;
    }

    article h2 {

        margin-top: 3%;
    
    }
    
    p > img {
    
        width: 70%;
        
    }
    
    p {
    
        line-height: 1.6;
        font-size: 14px;
        padding-bottom: 3%;
    
    }
    
    hr {
    
        width: 85%;
    }
    
    footer {
    
        font-size: 16px;
    }
}

    /* Medium devices (landscape tablets, 768px and below) */
@media only screen and (min-width: 601px) and (max-width: 768px) {

    header > img {


        padding: 4px;
        width: 98%;
        height: 150px;
    }

    ul {

        margin-top: 4px;
        padding-top: 10px;
        padding-bottom: 10px;
    
    }

    li {

        display: block;
        padding: 10px;
        margin-left: 5px; 
        margin-right: 45px;
        margin-bottom: 4px;
    }

    article {

        margin-top: 5px;
        padding-bottom: 2%;
    }

    article h2 {

        margin-top: 3%;
    
    }
    
    p > img {
    
        width: 70%;
        
    }
    
    p {
    
        line-height: 1.6;
        font-size: 14px;
        padding-bottom: 3%;
    
    }
    
    hr {
    
        width: 85%;
    }
    
    footer {
    
        font-size: 16px;
    }

 }