@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

$font-titles: 'Fredoka One', cursive;
$font-sec: 'Ubuntu', sans-serif;
$font-color: white; 
$base-color: #1A1A1D;
$sec-color:  #4E4E50; 
$button-color: #C3073F; 
$outline-color: #950740; 
$accent-color: #6F2232;


html {

    background-color: $base-color;
    text-align: center; 
    color: $font-color; 

}

header > img {

    background-color: $accent-color;
    padding: 4px;
    width: 98%;
    height: 330px;
    border: 2px solid $sec-color; 
}

ul {

    background-color: $accent-color;
    width: 96.7%;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 2px solid $sec-color;
    font-family: $font-titles;
    

}

li {

    display: inline; 
    list-style-type: none;
    padding: 15px; 
    background-color: $button-color;
    margin-right: 20px;
    border: 2px solid $sec-color;
}

li:hover {

    background-color: $outline-color;
    border: 2px solid $button-color;
    transition: ease-in-out 0.7s; 

}

a {

    color: $font-color;
}

article {

    margin-top: 2%;
    padding-bottom: 2%;
    background-color: $accent-color;
    border: 2px solid $sec-color; 
    font-family: $font-sec;
}

article h1 {

    font-family: $font-titles;
}

article h2 {

    margin-top: 3%;

}

p > img {

    width: 35%;
    
}

p {

    margin-top: 50px;
    line-height: 1.4;
    padding-left: 6%;
    padding-right: 6%;

}

hr {

    width: 85%;
    border: 1px solid $sec-color;
}

footer {

    margin-top: 1%; 
    padding: 18px;
    border: 2px solid $sec-color; 
    background-color: $accent-color;
}